@import './colors';

body {
    @include bg-colors(lighten);
    @include colors(darken);
    font-size: 20px;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.mode-switch {
    @include bg-colors(darken);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: .2rem;
    border-radius: 50%;
    cursor: pointer;
}

.banner{
    @include bg-colors(accent);
    @include color-replace(border, '1px solid $', (accent));
    display: flex;
    align-items: center;
    height: 12rem;
    padding: .2rem 2rem;
    
    .title {
        @include colors(lighten);
        @include color-replace(text-shadow, '1px 1px 3px $', (darken));
        font-size: 4rem;
    }
}

.container {
    padding: 1rem 2rem;
    
    .title {
        @include colors(primary);
        @include color-replace(border-bottom, '2px solid $', (primary));
    }
}